$lightorange: #F38630;
$strongorange: #FA6900;	
$colorbasic: #E0E4CC;
$lightblue: #A7DBD8;
$blue: #69D2E7;

.main {
	background-color: #E0E4CC;
	color: #000;
}

ul {
  	list-style: none;
  	padding: 0;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	background-color: #A7DBD8;

	.logo {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-left: 25px;

		img {
			height: 40px;
		}
	}

	.menu {

		ul {

			ul {
				li {
					display: flex;
				}	
			}

			li {
				display: inline-flex;
				justify-content: space-between;	
				min-width: 150px;

				&:hover {

					ul {
				 	visibility:visible;
				  	transform:scaleY(1);
				  	transition-duration: 0.25s;
				  	z-index: 1;
					}
				}

				a {
					display: flex;
					flex-direction: column;
					text-align: center;
					line-height: 50px;
					color: #FFFFFF;
					background-color: $strongorange;	
					text-decoration: none;
					width: 100%;

					&:hover {
						background-color: $lightorange;							
					}
				}

				ul {
					visibility:hidden;
				  	transform:scaleY(0);
				  	transform-origin:50% 0;
				  	transition:100ms;
				  	position:absolute;
				  	margin-top: 50px;
				  	transition-duration: 0.25s;
				}
			}
		}

	}
}

.sectioncarousel {
	padding-top: 100px;
}


.header-text {
    position: absolute;
    top: 35%;
    width: 100%;
    color:#fff;

}

.container {
	display: flex;
	text-align: center;
   	align-items: center;
   	justify-content: center;
   	flex-direction: row;
   	flex-wrap: wrap;
   	flex-flow: row wrap;
   	align-content: flex-end;
   	padding: 75px 10%;
}

.sectionbox {
	@extend .container;

	.box {
	  	min-width: 280px;
	  	max-width: 280px;
	  	height: auto;
	  	background-color: #FFF;
	  	position: relative;
	  	border: 3px solid transparent;
		flex: 1; 
		margin: 15px;

		&:hover {
	  	border-color: $strongorange;

	  	.product {	
			visibility: visible;
		  	display: flex;
		  	flex-direction: column;
		  	z-index: 1;
		  	min-width: inherit;
		  	max-width: inherit;
		  	background-color: inherit;
			border: 3px solid $strongorange;
			border-top: none;
		}
	} 

		h3 {
			color: #000;
		    text-align: center;
		}

		p {
			color: #000000;
			font-size: 26px;
		}

		button {
			width: 90px;
			height: 30px;
		}
	}
}



.line {
	width: 50px; 
	height: 3px;
}

.topline {						/* top line bgcolor */
	background-color: #E0E4CC;	
}

.element1 {						/* bgcolor for elements from div 1 */
	background-color: $blue;
}

.element2 {						/* bgcolor for elements from div 2 */ 
	background-color: $lightorange;
}

.element3 {						/* bgcolor for elements from div 3 */ 
	background-color: $lightblue;
}

.element4 {						/* bgcolor for elements from div 4 */ 
	background-color: $strongorange;
}

.basebutton {
	transition: 0.75s;
	margin-bottom: 10px;
	align-self: center;

	&:hover {
		transform: scale(1.10);
		transition: 0.5s;
		cursor: pointer;
	}
}

.a1 {
	color: $blue;
}

.a2 {
	color: $lightorange;
}

.a3 {
	color: $lightblue;
}

.a4 {
	color: $strongorange;
}

.product {
  	visibility: hidden;
  	position: absolute;
	margin-left: -3px;

	ul {

		li { 
			text-align: left;	
			padding: 5px;

			&:before {
				content: "";
				width: 5px;
				height: 10px;
				border-right: 1px solid #000;
				border-bottom: 1px solid #000;
				transform: rotate(45deg);
				position: absolute;
				left: 30px;
			}
		}
	}
}

.fontbasecolor {		/* base font color */
	color: #FFF;
}

.noborder {				/* no border for buttons and lines*/
	border: none;	
}

.beforefooter {
	justify-content: space-between;
	background-color: $lightorange;
	@extend .container;

	.column {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		align-self: flex-start;

		a {
			font-size: 16px;
			text-decoration: none;
			color: inherit;
			padding-top: 5px;
		}

		h3 {
			font-size: 26px;
		}

		.columndivicons {

			.columnbutton {
				width: 40px;
				height: 40px;
				font-size: 22px;
				border: none;
				cursor: pointer;
			}
		}
	}      	
}

.footer {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	background-color: $strongorange;
	left: 0;
	right: 0;
	padding: 20px;

		p {
			font-size: 18px;
			padding-right: 30px;
		}
	
}

@media(min-width: 768px) and (max-width: 1199px) { 

	.header {
		.logo {
			padding-left: 15px;

			img {
				height: 30px;
			}
		}

		.menu {

			ul {
				li {
					min-width: 125px;
				}
			}

		}
	}

	.container {
	   	padding: 50px 5%;
	}

	.sectionbox {
		
		.box {

			margin: 10px;
		}
	}

	.beforefooter {
		.column {

			a {
				font-size: 14px;
				padding-top: 0;
			}

		h3 {
			font-size: 22px;
		}

		}      	
	}

}

@media(max-width: 767px) { 

	.header {

		.logo {
			padding-left: 5px;

			img {
				height: 20px;
			}
		}

		.menu {

			ul {

				li {
					display: inline-flex;
					justify-content: space-between;	
					min-width: 85px;
				}
			}

		}
	}

	.container {
	   	padding: 20px 2%;
	}

	.sectionbox {
		
		.box {

			margin: 5px;
		}
	}

	.beforefooter {
		.column {
			
			a {
				font-size: 13px;
				padding-top: 0;
			}

		h3 {
			font-size: 18px;
		}

		}      	
	}

}